<form action="<%= friend_circle_url(@circle) %>" method="post">
	<input type="hidden" name="_method" value="put">



	<%= render :partial => 'form'%>

	<p><input type="submit" value="Edit Circle"></p>
</form>